@use '../../../assets/fonts.scss' as f;

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20%;
  border: 1px solid black;
  font-family: f.$text;
  background-color: rgb(193, 232, 245);
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
}

.word {
  padding-left: 1%;
  // border: 1px solid red;
  text-align: center;

  &_tags {
    align-self: flex-end;
    padding-top: 5%;
    font-size: smaller;
  }
}
